{% extends "mainpage.html" %}
{% block content %}

<div id="restcard">

  {% for rest in rest_list %}
  <div class="card" id="{{ rest['user_id'] }}">
    <header class="card-header">
      <p class="card-header-title">
        {{ rest['restaurant'] }}
      </p>
    </header>
    
    <a onclick="whoIs({{ rest['num'] }})">
      <div class="row">
        <div class="card-image col-4">
          <!-- <figure class="image"> -->
            <img class="image" src="../static/{{ rest['image'] }}" width="320px" alt="Placeholder image">
            <!-- </figure> -->
          </div>
          <div class="card-content col-8">
            <div class="content">
              <div>{{ rest['category'] }}</div>
              <br>
              {{ rest['comment'] }}
            </div>  
          </div>
        </div>
    </a>

    <footer class="card-footer columns">
      <a onclick="whoIs({{ rest['num'] }})" class="card-footer-item column is-2"><i class="far fa-regular fa-thumbs-up">{{ rest['like'] }}</i></a>
      <a onclick="whoIs({{ rest['num'] }})" class="card-footer-item">{{ rest['locate'] }}</a>
    </footer>

  </div>
  <br>
  {% endfor %}
</div>
    
  {% endblock %}