<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post page</title>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 폰트(예정) -->

    <!-- 폰트 어썸 아이콘 -->
    <script
      src="https://kit.fontawesome.com/612dc86cae.js"
      crossorigin="anonymous"
    ></script>
    <!-- Bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    
    {% block function %}{% endblock %}
    <script>
      
      function setIdToken () {
        let id = $.cookie('myid');
        return id
      }
      function drop() {
        $("#dropdown-menu").toggle("is-active");
      }
      const State = {
        POST: "post", // 글 작성 페이지
        MY_DETAIL: "my_detail", // 글 상세 페이지 (본인)
        OTHER_DETAIL: "other_detail", // 글 상세 페이지 (타인)
        UNKNOWN: "unknown", //
      };
      let CurrentState = State.UNKNOWN;

      // $(document).ready(function () {
      //   // alert("페이지가 로딩되었습니다.");
      //   $("post-list").html(""); // 포스트 페이지를 한 번 싹 지우고
      //   if (CurrentState == State.POST) showReviewPost();
      //   else if (CurrentState == State.MY_DETAIL) showMyDetail();
      //   else if (CurrentState == State.OTHER_DETAIL) showOtherDetail();
      //   // else showUnknownState(); 어떤 페이지를 열지 안왔을 때
      // });

      function likeReview(num) {
        // 라이크 버튼을 누르면
        // 해당 번호의 리뷰의 좋아요수 +1
        // 유저의 좋아요 리스트에 번호가 추가되어야 한다.
        // 그러려면 리뷰의 번호 정보, 유저의 아이디 정보, 유저의 좋아요 리스트에 이 번호가 있는지 정보
        // 있으면 두번 누를수 없습니다. 
        $.ajax({
          type: "POST",
          url: '/like',
          data: { like_num : num },
          
          success: function (response) {
            if (response["result"] == "success") {
              // 2. '좋아요 완료!' 얼럿을 띄웁니다.
              alert("좋아요 완료!");
              window.location.reload();
            } else {
              alert("이미 좋아요를 하셨습니다.");
            }
          },
        });
      }

      function favoriteReview(num) {

        $.ajax({
          type: "POST",
          url: "/favorite",
          data: { favorite_num : num },
          success: function (response) {
            if (response["result"] == "success") {
              // 2. '좋아요 완료!' 얼럿을 띄웁니다.
              alert("즐겨찾기 추가 완료!");
              // 3. 변경된 정보를 반영하기 위해 새로고침합니다. 구현해야함.
            } else if (response["result"] == "delete") {
              alert("즐겨찾기에서 제거되었습니다.");
            } else {
              alert("즐겨찾기 추가 실패ㅠㅠ");
            }
          },
        });
      }
      function deleteReview(num) {
        $.ajax({
          type: "POST",
          url: "/delete",
          data: { num: num },
          success: function (response) {
            if (response["result"] == "success") {
              // 2. '삭제되었습니다!' 얼럿을 띄웁니다.
              alert("리뷰가 삭제되었습니다!");
              // 3. 변경된 정보를 반영하기 위해 새로고침합니다.
              window.location.href = "/mainpage"
            } else {
              alert("리뷰 삭제 실패ㅠㅠ");
            }
          },
        });
      }

      function postReview() {
        // 작성 버튼
        let restaurant = $("#restaurant").val(); // 음식점 이름 불러오기
        let location = $("#location").val(); // 위치 불러오기
        let user = $.cookie("myid"); // 작성자 불러오기
        let category = $("select > option:selected").val(); // 카테고리
        let comment = $("#review").val(); // 리뷰글 불러오기
        let file = $('#img-file')[0].files[0]; // 사진

        let form_data = new FormData()

        form_data.append("restaurant_give", restaurant)
        form_data.append("category_give", category)
        form_data.append("comment_give", comment)
        form_data.append("location_give", location)
        form_data.append("user_give", user)
        form_data.append("file_give", file)

        $.ajax({
          type: "POST",
          url: "/post/mydetail",
          data: form_data,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            if (response["result"] == "success") {
              alert("성공!");
              let idnum = response["idnum"];
              let go = "/mydetail/"+idnum;
              window.location.href = go;
              // 글 상세 페이지 (본인) 으로 이동하는 부분. id와 연관시키는 것이 필요하다.
            } else if (response["result"] == "empty") {
              alert("제목, 평가글, 카테고리를 모두 채워주세요!");
            } else {
              alert("작성 실패!");
              // 초기화하기
            }
          },
        });
      }

      function showOtherDetail() {
        $.ajax({
          type: "GET",
          url: "/review/otherdetail",
          data: {},
          success: function (response) {
            if (response["result"] != "success") {
              // ?
              return;
            } else {
              alert("불러오기 실패!");
            }
          },
        });
      }
      
      function modifyReview(num) {
        console.log(num)
        let restaurant = $("#restaurant").val(); // 음식점 이름 불러오기
        let location = $("#location").val(); // 위치 불러오기
        let category = $("select > option:selected").val(); // 카테고리
        let comment = $("#review").val(); // 리뷰글 불러오기
        let file = $('#img-file')[0].files[0]; // 사진

        let form_data = new FormData()

        form_data.append("restaurant_give", restaurant)
        form_data.append("category_give", category)
        form_data.append("comment_give", comment)
        form_data.append("location_give", location)
        form_data.append("file_give", file)
        form_data.append("num_give", num)

        $.ajax({
          type: "POST",
          url: "/modify/mydetail",
          data: form_data,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            if (response["result"] == "success") {
              alert("수정 성공!");
              // 글 상세 페이지 (본인) 으로 이동하는 부분 추가하기
              
              let idnum = response["idnum"];
              let go = "/mydetail/"+idnum;
              window.location.href = go;
            } else if (response["result"] == "empty") {
              alert("제목, 평가글, 카테고리를 모두 채워주세요!");
            } else {
              alert("수정 사항이 없습니다!");
              // 초기화하기
            }
          },
        });
      }

      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <style>
      * {
        margin: 0px auto;
      }

      .select * {
        width: 100%;
      }
      .select {
        width: 100%;
      }

      tr {
        padding: 0;
      }
      .wrap {
        border: 1px solid gray;
        width: 800px;
        height: 700px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
      }
    
      #restaurant {
        padding: 0;
        padding-left: 15px;
        width: 100%;
        height: 50px;
      }
      #location {
        padding: 0;
        padding-left: 15px;
        width: 100%;
        height: 50px;
      }
      #user {
        font-size: 20px; border: 1px solid #dbdbdb; padding-left: 15px; padding-top: 8px; text-align: left;
        height: 50px;
      }

      textarea {
        width: 95%;
        height: 100px;
      }

      input {
        border: 1px solid #dbdbdb;
      }

    </style>
  </head>
  <!-- 글 작성, 상세(본인, 타인) 페이지 -->
  <body>
    <div class="wrap card" id="post-list">
      <div class="card-content">
          <div class="columns">
            <div class="column is-8 title" style="margin-left: 105px;">
              {% block post_title %}{% endblock %}
            </div>
            <div class="column">
              {% block favorites %}{% endblock %}
            </div>
          </div>        
        <div class="columns" style="width: 750px;">
          <div class="column is-4" style="padding:0; padding-right:10px">
            <div style="margin-bottom: 20px;">
              <label class="label">카테고리</label>
              <div>{% block select %} {% endblock %}</div>
            </div>
            <div>
              <label class="label">상호</label>
              <div style="margin-bottom: 20px;">{% block restaurant_input %}{% endblock %}</div>
            </div>
            <div style="margin-bottom: 20px;">
              <div>
                <label class="label">위치</label>
                {% block location_input %} {% endblock %}
              </div>
            </div>
            <div>
              <div>
                <div>
                  <label class="label">작성자</label>
                  {% block user_input %} {% endblock %}
                </div>
              </div>
            </div>
          </div>

          <div class="column" style="border: 1px solid;">
            <div style="padding:10px;width: 100%; height: 340px;">
              {% block preview_image %} {% endblock %}
              {% block main_image %} {% endblock %}
            </div>
            <div>
              <!-- 글 작성 페이지일 때만 사진업로드 가능하도록 만들기-->
              {% block upload_image %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      
      <!-- 글 작성 페이지일 때만 textarea 작성 가능하도록 만들기-->
      <div style="margin: 20px auto; width:95%">
        {% block post_textarea %}{% endblock %}
      </div>
      <footer class="card-footer">
        <!-- 글 작성 페이지일 때만 작성버튼 표시 -->
        {% block post_button %}{% endblock %}
        <!-- 글 상세 페이지(본인)일 때만 수정, 삭제 버튼 표시 -->
        <section id="mydetail_button">
          {% block mydetail_button %}{% endblock %}
        </section>
        <!-- 글 상세 페이지(타인)일 때만 좋아요 버튼, 좋아요 수 표시 -->
        {% block like_button %}{% endblock %}
        <!-- <button>좋아요 <span>좋아요 수</span></button> -->
        <button class="button is-dark" onclick="location.href='/mainpage'" style="margin-left: 15px;">
          <!-- 나중에 경로 다시 설정 -->
          나가기
        </button>
      </footer>
    </div>
    {%block jinja_test%}{%endblock%}
  </body>
</html>