<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">


    <title>오늘 뭐 먹지 회원가입</title>
    <style>
        .joinWrapper {
            border: solid 1px #ffffff;
            border-radius: 10px;
            
            margin:0 auto;
            width:650px;
            padding: 0 40px 0 40px;

            box-shadow: 1px 1px 1px 1px;
        }

        #idWrapper {
            display: grid;
            grid-template-columns: 4fr 0.1fr 1fr;
        }
        #userId {
            padding: 5px;
        }

        .headerWrapper {
          margin:0 auto;
          width:500px;
          height: 200px;
          padding: 15px
        }

        .field {
            margin-top: 40px;
            margin-bottom: 30px;
        }
        
    </style>
    <script>
        $(document).ready(function () {
            idCheckConfirm = 0;

        });

        function signup() {
            let id = $('#userId').val();
            let pwd = $('#userPassword').val();
            let pwdconfirm = $("#userPasswordConfirm").val();
            let email = $("#userEmail").val();

            //빈칸과 중복체크 확인
            if(id == ""){
                return alert('아이디를 입력해주십시오');
            } else if (idCheckConfirm == 0) {
                return alert('아이디 중복 체크를 해주세요');
            } else if (pwd == "") {
                return alert('비밀번호를 입력해주십시오');
            } else if (pwdconfirm == "") {
                return alert('비밀번호를 입력해주십시오');
            } else if(email == "") {
                return alert('이메일을 입력해주십시오');
            } else {
                //마지막으로 비밀번호 확인
                if(pwd == pwdconfirm) {
                $.ajax({
                    type: "POST",
                    url: "/join/signup",
                    data: {targetId : id, targetPwd : pwd, targetEmail : email},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.');
                            location.href='/';
                        } else {
                            alert('회원가입을 다시 시도해 주십시오.')
                        }
                    }
                });
                } else {
                    alert("비밀번호가 맞지 않습니다.")
                }

            }
        }

        function idCheck() {
          // 인풋칸에 쓰여있는 밸류값을 가져온다.
            let id = $('#userId').val();

            $.ajax({
                type: "POST",
                url: "/join/idcheck",
                data: {targetId : id},
                success: function (response) {

                  if (response['result'] == 'success') {
                    alert('사용가능한 아이디입니다.')
                    idCheckConfirm = 1;
                  } else if (response['result'] == 'blank') {
                    alert('아이디를 입력해 주십시오.')
                  } else {
                    alert('중복된 아이디가 존재합니다.')
                  }
                }
            });
        }
    </script>
    
</head>
<body>
    <div class="headerWrapper">
        <div style="text-align: center; font-family: 'Nanum Gothic'; font-size: 50px; margin-top: 60px;">
            환영합니다!
        </div>
    </div>
    <div class="joinWrapper">
        <div class="field" >
            <label class="label">아이디</label>
            <div class="control" id="idWrapper">
              <input class="input" type="text" id="userId" placeholder="e.g Alex Smith">
              <span></span>
              <button class="button is-primary" style="background-color: #808080;" onclick="idCheck()">아이디 중복 체크</button>
            </div>
        </div>

        <div class="field">
            <label class="label">비밀번호</label>
            <div class="control">
              <input class="input" type="password" id="userPassword" placeholder="*********">
            </div>
        </div>

        <div class="field">
            <label class="label">비밀번호 확인</label>
            <div class="control">
              <input class="input" type="password" id="userPasswordConfirm" placeholder="*********">
            </div>
        </div>
          
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" id="userEmail" placeholder="e.g. alexsmith@gmail.com">
            </div>
        </div>
        
        <div class="field" style="text-align: center;">
            <p class="control">
                <button class="button is-primary" style="margin-top: 10px;" onclick="signup()">
                회원가입
                </button>
            </p>
        </div>
    </div>
</body>
</html>