{% extends "index.html" %}
{% block post_title %}이 가게를 추천해요!{% endblock %}

{% block favorites %}
  <button class="button is-success" onclick="favoriteReview({{review['num']}})">즐겨찾기 추가</button>
{% endblock %}

{% block restaurant_input %}
  <input id="restaurant" value="{{review['restaurant']}}" disabled />
{% endblock %}

{% block select %}
<div class="select">
  <select disabled>
    <option>{{review['category']}}</option>
  </select>
</div>
{% endblock %}

{% block user_input %}
<div id="user">{{review['user_id']}}</div>
{% endblock %}

{% block location_input %}
<input id="location" value="{{review['locate']}}" disabled/>
{% endblock %}

{% block main_image %} 
  <img src="../static/{{review['image']}}" class="card-img-top" style="max-height: 300px">
{% endblock %}

{% block post_textarea %}
  <textarea disabled id="review">{{review['comment']}}</textarea>
{% endblock %}

{% block like_button %}
  <button id="like" class="button is-danger" onclick="likeReview({{review['num']}})"> 좋아요&nbsp;&nbsp;|&nbsp;&nbsp;<span style="font-weight: bold;"> {{likes}}</span></button>
{% endblock %}

{# {%block jinja_test%} 
  {{review['restaurant']}} {{review['category']}} {{review['comment']}}
{%endblock%} #}
