{% extends "index.html" %} 

{% block post_title %}추천 글 작성{% endblock %}

{% block upload_image %}
<div class="custom-file">
  <input type="file" class="custom-file-input" id="img-file" onchange="readURL(this);">
</div>
{% endblock %} 

{% block preview_image %} <img id="preview" src="#" onerror="this.src='../static/fork.jpg'" /> {% endblock %} 


{% block restaurant_input %}
<input style="border: 1px solid #dbdbdb;" id="restaurant" placeholder="음식점 상호를 입력해 주십시오" />
{% endblock %}

{% block location_input %}
<input style="border: 1px solid #dbdbdb;" id="location" placeholder="위치를 입력해 주십시오" />
{% endblock %}


{% block user_input %}
<div style="font-size: 20px; border: 1px solid #dbdbdb; padding-left: 15px; padding-top: 8px; text-align: left;" id="user">{{ id }}</div>
{% endblock %}


{% block select %}
<div class="select">
  <select>
    <option>선택하기</option>
    <option>한식</option>
    <option>중식</option>
    <option>일식</option>
    <option>양식</option>
  </select>
</div>
{% endblock %}

{% block post_textarea %}
<textarea id="review" placeholder="평가 및 추천 이유"></textarea>
{% endblock %} 
{% block post_button %}
<button class="button is-info" onclick="postReview()">
  작성
</button>
{% endblock %}

{# {%block jinja_test%}
    {%for c in category%}
        <option>{{c}}</option>
        {% if c == review['category']%}
          <div>true</div>
        {% endif %}
    {% endfor %}
{%endblock%} #}