<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>학식 대 외식</title>
    <script>
        $(document).ready(function() {
            // 클릭하면 색깔이 바뀌어야 하는것과
            // 클릭하면 버튼 숫자가 1 올라가야함
            // 시간에 따라 메뉴가 바뀌어야 함
            // 시간에 따라 숫자가 초기화 되어야 함
            // 점심은 3시에 초기화 저녁은 7시에 초기화 하면 될듯함

            $("polygon").click(function() {
                
                

                $.ajax({
                    type : 'post',	
                    url : '/twc/getco.do',			
                    dataType : 'json',   
                    data : {"mapName" : mapName},
                    
                    success : function(result) { // 결과 성공 콜백함수
                        console.log(result);
                        
                        //해당 결과의 XY 좌표와 시간과 날짜를 받아 API를 구하는 function
                        getAPI(result.coX, result.coY, result.nowTime, result.nowDate);
                        
                        //지도 색깔 초기화
                        $("g > *").attr('fill', '#109548'); 
                        
                        // 클릭한 곳의 색깔을 바꿈
                        let getFill1 = document.querySelector("#"+mapId);
                        let getFill2 = getFill1.querySelectorAll("path");
                        for(let i = 0; i < getFill2.length; i++){
                            getFill2[i].setAttribute('fill','#FF761A');
                        }
                        
                        // 하위지역 리스트를 비운뒤 다시 채움
                        $("#mapList2").empty();
                        $("#mapList2").show();
                        
                        // 하위구역 목록이라는 설명 추가
                        let empty_text = `<tr><td style="padding-top:20px">하위 구역 목록</td></tr>`
                        $("#mapList2").append(empty_text);
                    },
                    
                    error : function(request, status, error) { // 결과 에러 콜백함수
                        console.log(error)
                    }
                }); 
                
                $.ajax({
                    
                    type : 'post',	
                    // 경로를 바꿔야 한다면 이 변수를 바꾸기
                    url : '/twc/lev2list.do',			
                    //
                    
                    dataType : 'json',   
                    data : {"mapName" : mapName},
                    
                    success : function(result) { // 결과 성공 콜백함수
                    
                        document.getElementById("wArea").innerHTML =mapName;
                        document.getElementById("wAreaDetail").innerHTML = mapName + "<br/> 상세 구역 정보";
                        
                        //기존것들 전부 초기화	
                        $("#mapList").empty();
                        let temp_html;
                        let temp_html2;
                        let temp_html3;
                        let temp_html4;
                        let lev2str2;
                        let lev2str;
                        //받은 JSON 파일을 반복문을 통해 리스트로 추가
                        for(let i = 0; i < Object.keys(result).length ; i++ ){
                            // 두줄씩 표시하기 위한 조건문
                            if(i%2==0){
                                // 전체가 갯수가 홀수일시 한개만 추가
                                if(i==Object.keys(result).length-1){
                                    
                                    lev2str = result[i].lev2;
                                    console.log(lev2str);
                                    
                                    temp_html = `<tr><td><span onclick="detailData('`;
                                    temp_html2 = `')">`+ lev2str + `</span></td></tr>`;
                                    
                                    $("#mapList").append(temp_html + mapName + "', '" +
                                            lev2str + temp_html2);
                                // 두줄 중 앞줄 추가	
                                } else {
                                    lev2str = result[i].lev2;
                                    console.log(lev2str);
                                    
                                    temp_html = `<tr><td><span onclick="detailData('`;
                                    temp_html2 = `')">`+ lev2str + `</td>`;
                                }
                            // 두줄중 뒷줄 추가
            
                            } else {
                                lev2str2 = result[i].lev2;
                                console.log(lev2str2);
                                
                                temp_html3 = `<td><span onclick="detailData('`;
                                temp_html4 = `')">`+ lev2str2 + `</span></td></tr>`;
                                $("#mapList").append(temp_html + mapName + "', '" + lev2str 
                                        + temp_html2 + temp_html3 + mapName 
                                        + "', '" + lev2str2 + temp_html4);
                            }
                            
                                
                        }
                        
                    },
                    
                    error : function(request, status, error) { // 결과 에러 콜백함수
                        console.log(error)
                    }
                });
                
            });
            
        });
    </script>
    <style>
        #poly1{
            fill: blue;     
        }
    
        #poly2{
            fill: red;     
        }
    </style>
</head>

<body>
    <svg width="450" height="200">
        <polygon id="poly1" points="0,0 250,0 150,200 0,200" />
        <text 
            x="0" y="80" 
            fill="#ffffff" font-size="80" font-family="'Leckerli One', cursive">
            학식
        </text>
        <text 
            x="0" y="180" 
            fill="#ffffff" font-size="80" font-family="'Leckerli One', cursive">
            숫자
        </text>
        <polygon id="poly2" points="420,0 270,0 170,200 420,200" />
        <text 
            x="260" y="180" 
            fill="#ffffff" font-size="80" font-family="'Leckerli One', cursive">
            외식
        </text>
        <text 
            x="260" y="80" 
            fill="#ffffff" font-size="80" font-family="'Leckerli One', cursive">
            숫자
        </text>
    </svg>

    <div>
        <!-- 크롤링 -->
        <table>
            <th>
                오늘의 학식 식단
            </th>
            <tr>
                <td> 점심 </td><td> 밥 </td>
            </tr>
            <tr>
                <td> 밥2 </td>
            </tr>
            <tr>
                <td> 밥3 </td>
            </tr>
            <tr>
                <td> 밥4 </td>
            </tr>

        </table>
    </div>


</body>
</html>